// CreateCoursePage.styles.scss
.page-title {
  margin-bottom: 20px;
}

.form-section {
  margin-top: 20px;

  h2 {
    margin-bottom: 10px;
  }

  form {
    margin-top: 10px;
  }

  .lesson-form {
    width: 100%;
    max-width: 400px;

    .lesson-input {
      width: 100%;
    }

    .submit-button {
      display: block;
      width: 100%;
      margin-top: 16px;
    }
  }
}
